@import('config.css');

/*------------------------*/
	/*GLOBAL elements*/
	
	body{
		background-color: white;
		/*font-family: 'Roboto', sans-serif;*/
		font-family: 'Oswald', sans-serif;
		font-size: 30px;
	}

	/*nav styling*/
	nav img{
		width: 240px;

	}
	nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		float:right;

	}
	nav ul li{
		list-style: none;
		text-decoration: none;
		padding: 20px;
    	height: 30px;
    	display: block;
	}

	nav a{
		text-align: center;
		float: none;
    	margin: 0 auto;
    	font-family: 'Oswald', sans-serif;
    	font: gray bold 3px;
    	text-align: center;
	}

	/*footer styling*/
	footer{
		font: gray 30px bold;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		/*background: #d3d3d3;*/
		height: 40px;
		font-family: 'Oswald', sans-serif;
	}

	footer span{
		font-style: oblique;
		color: teal;
	}


/*--------------------------------*/
	/*HOMEPAGE specific*/

	#homepage-body-container{
		margin: 10px;
		font-family: 'Oswald', sans-serif;
		/* gradient styling via http://colorzilla.com/gradient-editor/#8cc2ba+60,ffffff+100 */
		background: #8cc2ba;
		/* Old browsers */
		background: -moz-linear-gradient(-45deg, #8cc2ba 60%, #ffffff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #8cc2ba 60%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #8cc2ba 60%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc2ba', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	
	#homepage-body-container h1{
		font-family: 'Oswald', sans-serif;
		font-size: 55px;
		line-height: 100%;
		font-weight: bolder;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-shadow: 0 3px 3px grey;
		color: black;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.line {
		width:90px;
		height:4px;
		margin: auto 0;
		background: #D94086;
		float: none;
    	margin: 0 auto;
		margin-bottom: 20px;
	}
	
	#homepage-body-container h2{
		font-family: 'Oswald', sans-serif;
		font-size: 30px;
		line-height: 120%;
		font-weight: bolder;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: teal;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

/*---------------------------*/
	/*LOCATIONS start here*/

	/*div styling for the container of the selectors*/
	#location-selectors{
		height: 750px;
		display: block;
	}

	/*general styling for each location selector boxes*/
	.location{
		font-size: 30px;
		height: 250px;
		padding-top: 50px;
		text-align: center;
		border: white 4px solid;
		display: block;
	/*	transition: background-image 1s;*/
	}

	/*city name styling*/
	.location h3{
		color: white;
		font-size: 28px;
		position: relative;
		z-index: 1;
	}

	/*country name styling*/
	.location h4{
		color: #D94086;
		font-size: 18px;
		font-weight: bold;
	/*	position: relative;
		z-index: 1;*/
	}

	/*quip of location styling*/
	.location p{
		color: white;
		font-weight: lighter;
		font-size: 18px;
		/*position: relative;
		z-index: 1;*/
	}


	.gradient{
		position: absolute;
		top:0;
		left:0;
		opacity:0.1;
		z-index: 0;
		width: 100%;
		height: 100%;
	    background-color: black;
	}

	/*pseudoclass for hover*/
	.gradient:hover{
	    opacity:0;
	}
		
	/*.location:hover{
	}*/
		
	/*#info-boxes:hover{
		/*opacity: 0.3;*/
		/*background-size: 110%;
	}*/		


	/*individual styling for each location selector box*/

	.first{
		background-image: url("../images/tulum/tulum_cenote.jpg");
		background-position: bottom;	
		/*z-index: -1;
		position: relative;*/
	}

	.second{
		background-image: url("../images/hoi_an/hoi_an_lanterns.jpg");	
		background-size: cover;	
	}
	.third{
		background-image: url("../images/kerala/kerala_waterways.jpg");
		background-size: cover;	
	}

	.fourth{
		background-image: url("../images/siem_reap/siem_reap_ankor_temple.jpg");
		background-size: cover;	
	}

	.fifth{
		background-image: url("../images/hawaii/hawaii_waipio-valley.jpg");	
		background-size: cover;	
	}

	.sixth{
		background-image: url("../images/nyc/nyc_westvillagestoop.jpg");	
		background-size: cover;	
	}	
	.seventh{
		background-image: url("../images/lagos/lagos_cliffs.jpg");	
		background-size: cover;	
	}

	.eighth{
		background-image: url("../images/barbados/barbados_vantage.jpg");	
		background-size: cover;	
	}

	.ninth{
		background-image: url("../images/byron_bay/byron_bay_lighthouse.jpg");
		background-size: cover;	
	}


/*-------------------------------*/
/*OUTPUT INFO starts here*/	

	/*section separator styling starts here*/
	#info-boxes{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: black;
		height: 100%;
		background-color: white;
	}

	/*headings e.g. "what to know*/
	#info-boxes h2{	
		font-size: 30px;
		line-height: 120%;
		color: black;
		padding-top: 15px;
		padding-bottom: 10px;
		text-align: center;
		}

	/*quip styling e.g. "what to see"*/
	#info-boxes h3{
		font-size: 20px;
		line-height: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: teal;
		text-align: center;
	}

	/*line styling - inhereted from above use*/
	#info-boxes .line{
		margin-top: 20px;
	}

    /*first info box styling*/

	#info-boxes p{
		padding-top: 20px;
		padding-bottom: 30px;
		font-size: 20px;
		/*line-height: 20px;
	*/	font-weight: 400;
		color: black;
		text-align: justify;
		line-height: 130%;
	}
	.first-box{
		background-color: #89B0AF;
		border-bottom: white 4px solid;
		/*transition: background-image 1s;
		/*transition: margin 1s;*/
	}

	.map-container{
		display: block;
		background-color: transparent;
		height: 200px;
		float: none;
    	margin: 0 auto;
    	padding-bottom: 30px;
	}

	#map{
        height: 100%;
    
    }

    /*second info box styling*/

	.second-box{
		background-color: #89B0AE;
		border-bottom: white 4px solid;
		transition: background-image 1s;
		/*transition: margin 1s;*/
		padding-bottom: 30px;
	}

	#info-boxes li{
		padding-top: 5px;
		font-size: 20px;
		font-weight: lighter;
		color: black;
		text-align: left;
		list-style: square;
	    list-style-position: inside;
    	text-indent: -1em;
    	padding-left: 1em;
		font-size: 20px;
	}

	/*third info box styling*/

	.third-box{
		background-color: #89B0AF;
		border-bottom: white 4px solid;
		height: 100%;
		/*transition: margin 1s;*/
		padding: 0;
		margin: 0;
	}
